/* Styles pour écrans de taille moyenne (tablettes) */

#header {
    background-image: url(none);
}

.container {
    padding: 30px 50px;
}

div #info {
    margin-top: 50%;
    font-size: 15px !important;
    width: 100%;
    text-align: center;
}

.col-md-6{
    text-align: justify;
}

.col-md-6 img{
    margin-top: 10px;
    height: 500px;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-list div{
    height: 400px;
}
.Blog-list {
    display: flex;
    flex-wrap: wrap;
}

.Blog{
    width: 100%;
}

.btn {
    margin: 30px auto;
    padding: 12px 40px;
}

#contact1 .row{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.social-icons {
    margin-top: 20px;
}

.btn.btn2 {
    padding: 12px 25px;
}

.copyright {
    padding: 15px 0;
}

#scrollToTopButton {
    bottom: 20px;
}
